@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size:x-large
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c4c9cd;
}

.container { 
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.container-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6dfd7;
    padding: 1rem;
}

.container-image img {
    width: 31rem;
}

.container2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
    gap: 15px;
}

  main>div {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  input {
    padding: 5px;
    outline: none;
    accent-color: black;
    border-color: #e6dfd7;
  }

  input[type=checkbox] {
    accent-color: darkgreen;
    width: 18px;
    height: 18px;
  }
  
  input[type=range] {
    width: 90%;
  }

  button {
    background-color:gray;
    cursor: pointer;
    color: white;
    border: none;
    padding: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
  }